<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="strength"></ion-back-button>
    </ion-buttons>
    <ion-title
      style="text-align: left; font-size: 25px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-style: oblique;">
      Dumbbell Row
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-card>
    <ion-img src="https://image.shutterstock.com/image-vector/woman-doing-one-arm-dumbbell-260nw-1727481166.jpg"></ion-img>
      <ion-card-header>
        <h2>วิธีการทำท่า Dumbbell Row</h2>
      </ion-card-header>
    <ion-card-content>
      <p>
        เอามือและเข่าซ้ายไว้บนม้านั่งก้มตัวลงมาให้ร่างกายส่วนบนเป็นแนวนอนถือดัมเบลเอาไว้ในมือขวายื่นแขนตรงเข้าหาพื้นยกดัมเบลเข้าหาตัวพยายามยกศอกขึ้นมาอยู่ใกล้เอวของเราจากนั้นหย่อนแขนกลับลงไป
      </p><br>
      <h1>ประโยชน์จากท่า Dumbbell Row</h1>
      <br> <p>ช่วยทำให้กล้ามเนื้อหลังส่วนบนมีความแข็งแรงมากขึ้นและทำให้กล้ามเนื้ออกมีความสมดุลและแข็งแรง</p>
    </ion-card-content>
  </ion-card>

</ion-content>