<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="yoga"></ion-back-button>
    </ion-buttons>
    <ion-title
      style="text-align: left; font-size: 25px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-style: oblique;">
      Tree Pose
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-card>
    <ion-img src="https://media.istockphoto.com/vectors/woman-standing-in-yoga-position-vector-id1087408928?k=20&m=1087408928&s=612x612&w=0&h=FCnuZsefQzyygp2PckVHU73Vqm9oXsYxTWxZnUDmhb4="></ion-img>
      <ion-card-header>
        <h2>วิธีการทำท่า Tree Pose</h2>
      </ion-card-header>
    <ion-card-content>
      <p>
        โยคะ ท่าต้นไม้ เริ่มต้นด้วยการยืนตรง ขาชิดกัน แขนแนบข้างลำตัว และให้ถ่ายน้ำหนักไปที่ขาข้างซ้าย จากนั้นยกขาขวาขึ้นและใช้มือจับข้อเท้ามาวางไว้ที่ต้นขาด้านในของขาซ้าย เมื่อร่างกายอยู่ในจุดที่สมดุลแล้วให้ทำการประกบฝ่ามือเข้าด้วยกัน หายใจเข้าและยืดแขนเหยียดตรงขึ้นด้านบนหากทรงตัวได้ยากสามารถพนมมือไว้กลางหน้าอกแทนได้ค่ะ ค้างท่าไว้ 30-60 วินาที แล้วจึงค่อยลดมือลงและเปลี่ยนมาทำขาอีกข้าง
      </p><br>
      <h1>ประโยชน์จากท่า Tree Pose</h1>
      <br> <p>ช่วยสร้างสมดุลและการทรงตัวให้แก่ร่างกาย ช่วยลดอาการปวดหลัง ช่วยยืดหลังให้เหยียดตรง และสร้างความแข็งแรงให้แก่กล้ามเนื้อต้นขา น่อง และหลัง</p>
    </ion-card-content>
  </ion-card>

</ion-content>