<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="yoga"></ion-back-button>
    </ion-buttons>
    <ion-title
      style="text-align: left; font-size: 25px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-style: oblique;">
      Downward Facing Dog
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-card>
    <ion-img src="https://media.istockphoto.com/vectors/young-woman-in-downward-facing-dog-pose-illustrations-for-yoga-spa-vector-id1299572742?b=1&k=20&m=1299572742&s=170667a&w=0&h=U8H6JJMaBIKmNm7tiCZ2-wQFLsFWmfVqJp9o4_N2Crg="></ion-img>
      <ion-card-header>
        <h2>วิธีการทำท่า Downward Facing Dog</h2>
      </ion-card-header>
    <ion-card-content>
      <p>
        โยคะ ท่าสุนัขก้มหน้า โดยเริ่มจากท่าคลาน วางเข่าทั้ง 2 ข้างและมือวางบนพื้น โดยให้เข่ากว้างเท่าช่วงสะโพก และให้เข่าอยู่แนวเดียวกับสะโพก มือทั้งสองข้างวางกว้างเท่าช่วงไหล่ กางนิ้วให้กว้าง หลังตรง ไม่เกร็งไหล่ จากนั้นหายใจออก ดันเข่ายกขึ้นทั้ง 2 ข้าง ทำให้ร่างกายอยู่ในรูปตัว V กลับหัว แขนและขาเหยียดตรง พยายามกดส้นเท้าให้ติดพื้น หากรู้สึกว่าขาตึงเกินไป สามารถงอเข่าได้เล็กน้อย ไม่ยกและเกร็งไหล่ ค้างท่าไว้ประมาณ 3 ลมหายใจเข้าออก
      </p><br>
      <h1>ประโยชน์จากท่า Downward Facing Dog</h1>
      <br> <p> ช่วยยืดกล้ามเนื้อหลัง กระดูกสันหลัง บ่า ไหล่ ยืดขาด้านหลัง ทั้งต้นขา เข่า และน่อง เพิ่มความแข็งแรงให้แก่แขนและขา และช่วยเพิ่มการไหลเวียนของเลือด</p>
    </ion-card-content>
  </ion-card>

</ion-content>