<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="strength"></ion-back-button>
    </ion-buttons>
    <ion-title
      style="text-align: left; font-size: 25px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-style: oblique;">
      Walking Lunges

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-card>
    <ion-img src="https://lh3.googleusercontent.com/proxy/QjpYtI0doriL_RS2DD5HljpgKw7t29O5Q2KT8-5TsINSYMnqY81mt7VY_-HVKroSTVvjkEPi0gwF9CXhke3Nn2rjXSzValgoG0Q4_nIrVsKL13MpTZ5112Ay"></ion-img>
      <ion-card-header>
        <h2>วิธีการทำท่า Walking Lunges</h2>
      </ion-card-header>
    <ion-card-content>
      <p>
        เริ่มต้นด้วยการยืนกางขาใข้ขาข้างหนึ่งก้าวไปด้านหน้าก้าวใหญ่ๆหนึ่งก้าว หย่อนร่างกายลงมาและหย่อนเข่าเข้าหาพื้นแต่อย่าให้เข่าแตะพื้นเข่าที่อยู่ด้านหน้าจะต้องมีตำแหน่งอยู่เหนือข้อเท้า และต้องยกตัวตรงตลอดเวลาออกแรงดันที่เท้าหลังและเอาขาที่อยู่ด้านหน้าถอยกลับมาชิดกับขาหลังทำซ้ำแต่เปลี่ยนไปใช้ขาอีกข้าง เพื่อเพิ่มระดับความยาก ให้เราถือดัมเบลไว้ที่มือทั้งสองข้าง (เลือกน้ำหนักที่เหมาะสมกับเราด้วยนะ) 
      </p><br>
      <h1>ประโยชน์จากท่า Walking Lunges</h1>
      <br> <p>ทำให้ขาแต่ละข้างมีความสมดุลเพิ่มความมั่นลงและการทำงานประสานกันของอวัยวะส่วนต่างๆในตอนวิ่งทั้งยังช่วยเพิ่มระยะในการก้าวขาทำให้เราวิ่งเร็วขึ้นไปอีก</p>
    </ion-card-content>
  </ion-card>

</ion-content>