<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="yoga"></ion-back-button>
    </ion-buttons>
    <ion-title
      style="text-align: left; font-size: 25px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-style: oblique;">
      Triangle Pose
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-card>
    <ion-img src="https://media.istockphoto.com/vectors/yoga-triangle-pose-vector-id472379899?k=20&m=472379899&s=612x612&w=0&h=gyLq9MixaWTCmA5ECfuaIrI3SoyAL1nitATMn8WDd4w="></ion-img>
      <ion-card-header>
        <h2>วิธีการทำท่า Triangle Pose</h2>
      </ion-card-header>
    <ion-card-content>
      <p>
        โยคะ ท่าตรีโกณ เริ่มจากยืนตรง จากนั้นกางขากว้างออกด้านข้าง ให้ขากว้างกว่าช่วงสะโพก โดยให้ปลายเท้าด้านขวาชี้ออกทางด้านข้าง และปลายเท้าซ้ายชี้ไปด้านหน้า หายใจเข้า กางแขนทั้งสองข้างออกด้านข้างขนานกับพื้น ให้ความสูงอยู่แนวเดียวกับหัวไหล่ หายใจออก พร้อมกับค่อยๆ เอนตัวทางด้านขวาลงไปหาเท้าขวา และใช้มือขวาวางลงบนพื้นใกล้ๆ ฝ่าเท้า ถ้าวางมือบนพื้นไม่ถึง สามารถใช้ปลายนิ้วจรดพื้น หรือจับที่บริเวณข้อเท้าก็ได้ค่ะ สายตามองขึ้นไปที่เพดาน และค้างไว้ 5-10 ลมหายใจเข้าออก กลับมายืนตรงในท่าเดิมและสลับทำอีกข้าง
      </p><br>
      <h1>ประโยชน์จากท่า Triangle Pose</h1>
      <br> <p>ช่วยยืดกล้ามเนื้อหลัง ไหล่ ต้นขา และน่อง กระตุ้นการทำงานของอวัยวะภายในช่องท้อง และช่วยลดอาการตึงเครียดได้</p>
    </ion-card-content>
  </ion-card>

</ion-content>