.center{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  ion-content.background{
    --ion-background-color: #c1f1ef;   
}
.container{
padding: 6px 20px;
color:tan
ion-item {
    --background: rgba(26, 4, 4, 0.1);
}
}h1 {
  color: rgb(255, 0, 0);
}