<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="strength"></ion-back-button>
    </ion-buttons>
    <ion-title
      style="text-align: left; font-size: 25px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-style: oblique;">
      Push Up
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-card>
    <ion-img src="https://static.vecteezy.com/system/resources/thumbnails/000/162/135/small/Free_Push_Up_Vector-01.jpg"></ion-img>
      <ion-card-header>
        <h2>วิธีการทำท่า Push Up</h2>
      </ion-card-header>
    <ion-card-content>
      <p>
        นอนคว้ำหน้าดันตัวขึ้นเหยียดแขนตึงออกแรงดันยกตัวดันพื้นขึ้นจนแขนเหยียดตึงงอข้อศอกลดตัวลงกลับสู่ท่าเริ่มต้นและทำซ้ำใหม่อีกครั้งจำนวน 10-12 ครั้ง หรือช่วงแรกทำเท่าที่ทำได้
      </p><br>
      <h1>ข้อผิดพลาดที่มักพบบ่อยในการฝึกท่าวิดพื้น</h1>
      <br> <p>1วางมือกว้างเกินไป (ไกลกว่าหัวไหล่)
        2งอข้อศอกว้างเกินไป
        3ศีรษะหย่อนและเกร็ง 
        (คล้ายกับคนที่วิดพื้นไปพยักหน้าไปด้วย)
        4ยกก้นขึ้นมาหรือดันก้นลงมา
        5หย่อนตัวลงมาแค่ครึ่งเดียว
        ไม่หย่อนลำตัวลงมามากพอที่จะทำ
        ให้กล้ามเนื้อทำงาน</p>
    </ion-card-content>
  </ion-card>

</ion-content>