<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="yoga"></ion-back-button>
    </ion-buttons>
    <ion-title
      style="text-align: left; font-size: 25px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-style: oblique;">
      Bridge Pose
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-card>
    <ion-img src="https://thumbs.dreamstime.com/b/bridge-pose-vector-illustration-decorative-design-189656202.jpg"></ion-img>
      <ion-card-header>
        <h2>วิธีการทำท่า Bridge Pose</h2>
      </ion-card-header>
    <ion-card-content>
      <p>
        โยคะ ท่าสะพาน เริ่มต้นท่าด้วยการนอนราบบนพื้น ตั้งเข่าชันขึ้นทั้งสองข้าง วางเท้าแนบพื้น โดยให้ส้นเท้าใกล้กับสะโพกให้ได้มากที่สุด วางขากว้างเท่าช่วงสะโพก และวางฝ่ามือทั้งสองคว่ำไว้ข้างลำตัว จากนั้นเกร็งและยกสะโพกขึ้นจน อก หน้าท้อง สะโพก ต้นขาเป็นแนวเส้นตรงเดียวกัน ค้างไว้ในท่านี้ประมาณ 1 นาที คลายท่าและทำใหม่อีกครั้ง ในขณะที่ค้างท่าให้หายใจเข้าออกตลอดเวลา ไม่กลั้นหายใจค่ะ
      </p><br>
      <h1>ประโยชน์จากท่า Bridge Pose</h1>
      <br> <p>ช่วยทำให้ระบบหายใจดีขึ้น เพิ่มความแข็งแรงให้กับทรวงอกและปอด ช่วยบริหารกล้ามเนื้ออก บ่า และไหล่ ลดอาการปวดหลัง และช่วยเพิ่มความแข็งแรงให้แก่ขาและสะโพก</p>
    </ion-card-content>
  </ion-card>

</ion-content>