<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="strength"></ion-back-button>
    </ion-buttons>
    <ion-title
      style="text-align: left; font-size: 25px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-style: oblique;">
      Step Ups
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-card>
    <ion-img src="https://thumbs.dreamstime.com/b/woman-doing-dumbbell-step-ups-exercise-woman-doing-dumbbell-step-ups-exercise-flat-vector-illustration-isolated-white-217342831.jpg"></ion-img>
      <ion-card-header>
        <h2>วิธีการทำท่า Step Ups</h2>
      </ion-card-header>
    <ion-card-content>
      <p>
        ยืนหันหน้าเข้าหาม้านั่งหรือกล่อง (ให้ใช้ม้านั่งหรือกล่องที่แข็งแรงมากพอจะรับน้ำหนักของเรา) วางเท้าหนึ่งข้างไว้บนม้านั่งยกขาหลังเพื่อยกตัวขึ้นมาทำร่างกายให้ตั้งตรงตลอดเวลาจากนั้นให้ยกเข่าขึ้นมาตามรูปประกอบ ควรมีความรู้สึกว่ามันเป็นการยกก้นไปข้างหน้ามากกว่าเป็นการยกเข่า หลังจากที่ยกเข่าขึ้นมาแล้วจึงหย่อนขากลับไปสู่ท่าเริ่มต้นหากต้องการเพิ่มความยากให้ถือดัมเบลไว้ในมือทั้งสองข้าง
      </p><br>
      <h1>ประโยชน์จากท่า Step Ups</h1>
      <br> <p>ช่วยฝึกกล้ามเนื้อขาทุกส่วน เพิ่มพลังในการวิ่ง</p>
    </ion-card-content>
  </ion-card>

</ion-content>