<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="strength"></ion-back-button>
    </ion-buttons>
    <ion-title
      style="text-align: left; font-size: 25px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-style: oblique;">
      Tricep Dips
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-card>
    <ion-img src="https://media.istockphoto.com/vectors/sport-woman-doing-hip-fitness-with-bench-dip-with-legs-straight-in-2-vector-id1248545779?k=20&m=1248545779&s=170667a&w=0&h=yLRyMmwbL9WP8GiPHgLiKzYMM1pW9gKoOvRUhrNClwQ="></ion-img>
      <ion-card-header>
        <h2>วิธีการทำท่า Tricep Dips</h2>
      </ion-card-header>
    <ion-card-content>
      <p>
        นั่งลงเอาสันมือวางไปที่ขอบของม้านั่งแล้วเอานิ้วมือหย่อนลงมาหย่อนตัวลงมาโดยใช้แขน งอศอก หย่อนตัวลง จากนั้นดันตัวขึ้นโดยใช้แขน (หลีกเลี่ยงการใช้ขาในการยกตัว) จากนั้นให้ทำซ้ำจนกว่าจะครบ 2 เซ็ต
      </p><br>
      <h1>ประโยชน์จากท่า Tricep Dips</h1>
      <br> <p>ทำให้แขนและไหล่มีความแข็งแรงมากขึ้น ทำให้เราสามารถรักษาท่วงท่าของร่างกายส่วนบนในเวลาวิ่งได้</p>
    </ion-card-content>
  </ion-card>

</ion-content>