<ion-content>
  <div id="container">
   
    <!-- Logo app -->
    <ion-img src="https://image.flaticon.com/icons/png/512/2964/2964514.png" class="center" style="width: 100px"></ion-img>

    <div style="text-align: center; font-size: larger; font-weight: 600;" class="ion-padding">
      <h1 >
      Smart Body
      </h1>
    </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <!-- btn ปุ่ม -->
    <div>
      <ion-button color="dark" expand="full" shape="round" routerLink="/menu">เข้าสู่ระบบ</ion-button>
      <ion-button color="dark" expand="full" shape="round" routerLink="/menu">เข้าสู่ระบบ</ion-button>
    </div>
    
  </div>
  
</ion-content>