<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title
      style="text-align: left; font-size: 25px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-style: oblique;">
      Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div style="text-align: center; font-size: larger; font-weight: 600;" class="ion-padding">
      <ion-text>สร้างบัญชีของคุณ</ion-text>
    </div>

    <!-- username input -->
    <div> 
      <ion-item lines="none" class="input">
        <ion-icon name="person"></ion-icon>
        <ion-input type="text" placeholder="Username"></ion-input>
      </ion-item>
    </div>

    <!-- password input -->
    <div>
      <ion-item lines="none" class="input">
        <ion-icon name="key"></ion-icon>
        <ion-input [type]="showpass ? 'text' : 'password' " placeholder="Password"></ion-input>
        <ion-icon [name]="passtoggleicon" (click)="functioniconshowpass()"></ion-icon>
      </ion-item>
    </div>

    <!-- confirm password input -->
    <div>
      <ion-item lines="none" class="input">
        <ion-icon name="key"></ion-icon>
        <ion-input [type]="showpass ? 'text' : 'password' " placeholder="Confirm Password"></ion-input>
        <ion-icon [name]="passtoggleicon" (click)="functioniconshowpass()"></ion-icon>
      </ion-item>
    </div>

    <!-- btn login -->
    <div>
      <ion-button expand="full" shape="round">สร้างบัญชี</ion-button>
    </div>

  </div>
</ion-content>